In [1]:
## install connector 

!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (8.2.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\user\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [2]:
## Import libraries
import pandas as pd 
import mysql.connector

In [6]:
## Create connection 

connection = mysql.connector.connect(host = 'localhost',
                                     user = 'root',
                                     passwd = '12345')
print(connection)

mc = connection.cursor()
mc.execute("show databases")

for i in mc:
    print(i)
    
## Close connection 
connection.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002129E77F8D0>
('crms',)
('csv',)
('e_commerce',)
('ecomm2',)
('employees_db',)
('information_schema',)
('mysql',)
('performance_schema',)
('proj_db',)
('sys',)
('testdb',)

In [7]:
## Write SQL query 

query = 'create database python_test'

## Create connection 

connection = mysql.connector.connect(host = 'localhost',
                                     user = 'root',
                                     passwd = '12345')
print(connection)

mc = connection.cursor()
mc.execute(query)
    
## Close connection 
connection.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002129E5A9590>

In [8]:
## Write SQL query 

query = """create table customers (
            customer_name varchar(20) not null,
            customer_id int not null,
            age int, 
            phno int, 
            order_id int not null
            )"""

## Create connection 

connection = mysql.connector.connect(host = 'localhost',
                                     user = 'root',
                                     passwd = '12345',
                                     database = 'python_test')
print(connection)

mc = connection.cursor()
mc.execute(query)
    
## Close connection 
connection.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002129E74CCD0>

In [11]:
## Create connection 

connection = mysql.connector.connect(host = 'localhost',
                                     user = 'root',
                                     passwd = '12345',
                                     database = 'python_test')
print(connection)

mc = connection.cursor()

insert_query = "INSERT INTO Customers (CUSTOMER_NAME, CUSTOMER_ID, AGE, PHNO, ORDER_ID) VALUES (%s, %s, %s, %s, %s)"
val = ("Billy", 1001, 45, 18055, 60709)
   
mc.execute(insert_query, val)
connection.commit()

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002129FE2B6D0>

In [12]:
insert_query = "INSERT INTO Customers (CUSTOMER_NAME, CUSTOMER_ID, AGE, PHNO, ORDER_ID) VALUES (%s, %s, %s, %s, %s)"
val = [("Johnny", 1008, 30, 18065, 60809),
       ("Tommy",  1006, 35, 18007, 60777),
       ("James",  1004, 42, 18099, 60989),
       ("Darcy",  1005, 38, 18003, 60111),
       ("Samson", 1002, 44, 18012, 60121),
       ("Xerxes", 1003, 33, 18066, 60345),
       ("Ceaser", 1007, 41, 18099, 60999)]
   
mc.executemany(insert_query, val)
connection.commit()

In [14]:
## Get the data from SQL to python 

df = pd.read_sql("select * from customers", connection)
df

C:\Users\USER\AppData\Local\Temp\ipykernel_14444\3631149591.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("select * from customers", connection)

  customer_name  customer_id  age   phno  order_id
0         Billy         1001   45  18055     60709
1        Johnny         1008   30  18065     60809
2         Tommy         1006   35  18007     60777
3         James         1004   42  18099     60989
4         Darcy         1005   38  18003     60111
5        Samson         1002   44  18012     60121
6        Xerxes         1003   33  18066     60345
7        Ceaser         1007   41  18099     60999

In [15]:
## Get the data from SQL to python 

df = pd.read_sql("select * from employees_db.sample_superstore", connection)
df

C:\Users\USER\AppData\Local\Temp\ipykernel_14444\2002616033.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("select * from employees_db.sample_superstore", connection)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,08-11-2016,11-11-2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,12-06-2016,16-06-2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,11-10-2015,18-10-2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9689,9990,CA-2014-110422,21-01-2014,23-01-2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9690,9991,CA-2017-121258,26-02-2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9691,9992,CA-2017-121258,26-02-2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9692,9993,CA-2017-121258,26-02-2017,03-03-2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x...",29.6000,4,0.00,13.3200
9693,9994,CA-2017-119914,04-05-2017,09-05-2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9694 entries, 0 to 9693
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9694 non-null   int64
 1   Order ID       9694 non-null   object
 2   Order Date     9694 non-null   object
 3   Ship Date      9694 non-null   object
 4   Ship Mode      9694 non-null   object
 5   Customer ID    9694 non-null   object
 6   Customer Name  9694 non-null   object
 7   Segment        9694 non-null   object
 8   Country        9694 non-null   object
 9   City           9694 non-null   object
 10  State          9694 non-null   object
 11  Postal Code    9694 non-null   int64
 12  Region         9694 non-null   object
 13  Product ID     9694 non-null   object
 14  Category       9694 non-null   object
 15  Sub-Category   9694 non-null   object
 16  Product Name   9694 non-null   object
 17  Sales          9694 non-null   float64
 18  Quantity       9694 non-null   int64
 19  Discount       9694 non-null   float64
 20  Profit         9694 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [21]:
df.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9694.000000,9694.000000,9694.000000,9694.000000,9694.000000,9694.000000
mean,4993.926140,55190.491025,234.418182,3.790902,0.155167,29.178642
std,2885.273358,32050.129070,631.789011,2.227335,0.204867,237.716782
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2496.250000,23223.000000,17.480000,2.000000,0.000000,1.735200
50%,4992.500000,56301.000000,55.928000,3.000000,0.200000,8.730750
75%,7489.750000,90008.000000,214.850000,5.000000,0.200000,30.009300
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000